// =============================================================================
// Normalize box sizing
// =============================================================================
*, *::before, *::after { box-sizing: border-box; }

// =============================================================================
// Body reset
// =============================================================================
*, body, 
h1,
h2,
h3,
h4,
p,
a,
div,
span {
  font-family: 'Montserrat', sans-serif;
  font-size: $base;
  margin: 0;
  padding: 0;
}

@tailwind preflight;

@tailwind components;

@tailwind utilities;

.gm-style .gm-style-iw-t::after {
    top: auto;
    bottom: -55px !important;
}

// =============================================================================
// TEXT
// =============================================================================
.title-lg{
  font-size: 1.75rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  letter-spacing: 0.1rem;
}

.subtitle-lg{
  font-size: 1.25rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
}

.subtitle-md{
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: white;
  margin-bottom: 10px;
}

// =============================================================================
// CONTENT + SQUARE
// =============================================================================

.content-square {
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 8px;
  width: auto;
  height: 95%;
  position: relative;
  margin: 0 20px;
}

// =============================================================================
// LINK
// =============================================================================

a{
  text-decoration: none;
}

.link-bottom-left {
  border: 1px solid white;
  border-radius: 0 0 0 7px;
  text-decoration: none;
  padding: 0 15px;
  position: absolute;
  bottom: -1px;
  left: -1px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// =============================================================================
// INPUT
// =============================================================================
.input{
  height: 40px;
  padding: 0 10px;
  border-radius: 4px;

  &-border{
    border: 1px solid white;
    color: white;
    background: transparent;

    &::placeholder {
      color: rgba($color: #fff, $alpha: 0.6);
    }

    &:focus{
      background-color: white;
    }
  }

  &:focus{
    background-color: white;
    color: #00304d;
  }

}

// =============================================================================
// BUTTONS
// =============================================================================
.btn-round{
  position: relative;
  background-color: white;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  border: none;
  color: #00304d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

  &-small{
    width: 40px;
    height: 40px;
  }
}

.btn-square{
  background: white;
  padding: 12px 15px;
  color:#00304d;
  border: none;
  box-shadow: none;
  border-radius: 8px;

  &_icon{
    display: flex;
    justify-content: center;
    align-items: center;

    svg{margin-right: 10px;}
  }
}

// =============================================================================
// CHECKBOXES
// =============================================================================
.box-checkboxes{
 
  label {
    cursor: default;
  }
  input {
    display: block;
    color: inherit;
    font: inherit;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    -webkit-rtl-ordering: logical;
    -webkit-writing-mode: horizontal-tb; //important
  }
  input[type="checkbox"], input[type="radio"] {
    -webkit-appearance: none;
    margin: 0;
    box-sizing: border-box;
    border: none;
    background-color: inherit;
    padding: 0;
    cursor: pointer;

  }

  input[type="radio"], input[type="checkbox"] {
    & + span {
      display: inline-block;
      cursor: pointer;
      margin: 0px 20px 20px 0px;
      background-color: transparent;
      padding: 10px 20px;    
      border: 1px solid white;
      border-radius: 4px;
      color: white;
      font-weight: 500;
    }

    &:checked + span {
      background-color: white;
      color: #00304d;
    }

    &:focus + span {
      outline: solid 2px blue;
      outline-offset: 1px;
    }
  }
}

// INPUT FILE
[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"] + label {
  background: white;
  border: none;
  border-radius: 8px;
  color: #00304d;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  margin: 30px 0;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
  vertical-align: middle;
  
  &:hover {
    background-color: darken(#f15d22, 10%);
  }
  
  &.btn-1 {
    background-color: #f79159;
    box-shadow: 0 6px darken(#f79159, 10%);
    transition: none;

    &:hover {
      box-shadow: 0 4px darken(#f79159, 10%);
      top: 2px;
    }
  }
}