// =============================================================================
// V-SELECT
// =============================================================================

// DROPDOWN SELECT
.vs__dropdown-menu{
  background: white;
  li[aria-selected="true"]{
    background-color: #fc734a;
  }
}

.style-chooser .vs__search::placeholder,
  .style-chooser .vs__dropdown-toggle,
  .style-chooser .vs__dropdown-menu {
    border: none;
    color: #394066;
    text-transform: lowercase;
    font-variant: small-caps;
    border:none
  }

  .style-chooser.vs--single,
  .style-chooser.vs--open.vs--single{
display: flex; 
align-items: center;
 }

 .style-chooser input{
  display: none;
}

 .style-chooser .vs__selected-options{
   width: 40px;
   height: 20px;
   span{
     margin :0;
     padding: 0;
     color: #aeaeae;
   }
 }

  .style-chooser .vs__clear{
    display: none;
  }

// ON COLOR BACKGROUND
.style-chooser-white{
  border: 1px solid white;
  border-radius: 4px;

  li{
    color: #00304d;
  }

  svg{
    fill: #00304d;
  }

  .vs__dropdown-toggle,
  .vs__selected-options,
  .vs__selected-options span{
    width: 100%;
    height: 40px;
  }

  .vs__dropdown-toggle{
    margin: 0;
    padding: 0;
  }

  .vs__actions{
    background: white;
    padding: 10px;
  }

  .vs-selected{
    border: none;
  }

  .vs__selected-options { 
    padding: 0;
    span{
      background-color: white;
      color:#00304d;
      border-radius: 0;
      height: 40px;
      padding: 10px;
    }
  }

    #vs2__listbox {
      background: white;
  
      li[aria-selected="true"]{
        background-color: #fc734a;
        color: white;
      }
    }
 }