// =============================================================================
// SLICK SLIDER
// =============================================================================

.slick-slider {
  // DOTS
  .slick-dots{
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    
    li{
      border: 1px solid $white;
      border-radius: 100%;
      width: 10px;
      height: 10px;
      margin: 0 5px;
    }

    button{
      font-size: 0px;
      display: none;
    }

    .slick-active{
      background: $white;
      border: 1px solid $white;
    }
  }

  // ARROW
  button {
    &.slick-arrow {
      background: white;
      border: 1px solid white;
      width: 50px;
      height: 50px;
    }

    &[aria-disabled='true'] {
      background: transparent;
    }

    &.prev-arrow {
      position: absolute;
      bottom: -1px;
      right: 48px;
    }

    &.next-arrow {
      position: absolute;
      right: -1px;
      bottom: -1px;
      border-radius: 0 0 7px 0;
    }
  }

  .slick-track {
    transform: translate3d(0, 0px, 0px);
    display: flex;
  }
  
  .slick-list {
    padding: 0 !important;
    @media screen and (min-width: 768px) {
      padding: 0 50px;
    }
  }
  
  .slick-slide {
    width: 90vw;
    padding: 0 20px;
  
    @media screen and (min-width: 768px) {
      width: auto;
    }

    div{
      margin-bottom: 10px;
    }
  }
}