// =============================================================================
// Colors
// =============================================================================

$black: #000000;
$white: #ffffff;

$white-color: #ffffff;

$orange-gradient: linear-gradient(151deg, rgba(255,188,160,1) 0%, rgba(211,77,1,1) 100%);

// =============================================================================
// Breakpoints based on dead devices zone
// https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862
// =============================================================================
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1800px;

// =============================================================================
// Fonts
// =============================================================================
$base: 16px;