<template>
  <div class="m-calendar" id="calendar">
    <div class="content-square">
      <div class="box">
        <TitleSection
          titleSectionPart1="fruits"
          titleSectionPart2="et"
          titleSectionPart3="legumes"
          titleSectionPart4="du mois."
        ></TitleSection>
        <v-select :options="options" class="style-chooser" value="Septembre"></v-select>
      </div>
      <SliderCardsCalendar></SliderCardsCalendar>
      <router-link to="/recipes" class="link-bottom-left">Trouver des produits</router-link>
    </div>
  </div>
</template>

<script>
import SliderCardsCalendar from '../components/sliders/SliderCardsCalendar'
import TitleSection from '../components/TitleSection.vue'

export default {
  name: 'BestRecipes',
  components: {
    SliderCardsCalendar,
    TitleSection
  },
  data() {
    return {
      options: ['Decembre', 'Septembre', 'Novembre']
    }
  }
}
</script>

<style lang="scss" scoped>
.m-calendar {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 25%;
  background: linear-gradient(151deg, #7dc7f3, #8392f0);

  .box {
    display: flex;
    justify-content: space-between;
    margin: 15px;
  }

  .slick-track {
    display: flex;
  }

  .slick-slide {
    margin: 0 3rem;
    padding: 0 20px;
  }
}
</style>