<template>
  <div class="m-farmer-map" id="farmer-map">
    <FiltersCategories
      modalName="farmerModal"
      :categories="categoriesFarmer"
      :categoriesSelected="categoriesSelected"
    ></FiltersCategories>
    <MapFarmer></MapFarmer>
  </div>
</template>
<script>
import MapFarmer from '../components/maps/MapFarmer'
import FiltersCategories from '../components/filters/FiltersCategories'

export default {
  name: 'FarmerMap',
  components: {
    MapFarmer,
    FiltersCategories
  },
  data() {
    return {
      categoriesSelected: [],
      categoriesFarmer: [
        {
          title: 'Epicerie régionale',
          icon: 'mon icon'
        },
        {
          title: 'Agriculteur',
          icon: 'mon icon',
          select: false
        },
        {
          title: 'Viande',
          icon: 'mon icon'
        }
      ]
    }
  },
  mounted() {}
}
</script>
<style lang="scss" scoped>
.m-farmer-map {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 25%;
  background: linear-gradient(151deg, rgb(132, 204, 207), #228b5f);
}
</style>