<template>
  <div class="m-farmer" id="farmer">
    <div class="content-square">
      <div class="box">
        <TitleSection titleSectionPart1="Produits" titleSectionPart2="locaux."></TitleSection>
        <input type="search" placeholder="code postal" />
      </div>
      <SliderCardsFarmer></SliderCardsFarmer>
      <router-link to="/recipes" class="link-bottom-left">Tous les producteurs</router-link>
    </div>
  </div>
</template>


<script>
import TitleSection from '../components/TitleSection'
import SliderCardsFarmer from '../components/sliders/SliderCardsFarmer'

export default {
  name: 'Farmer',
  components: {
    SliderCardsFarmer,
    TitleSection
  },
  data() {
    return {}
  },
  mounted() {}
}
</script>
<style lang="scss" scoped>
.m-farmer {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 25%;
  background: linear-gradient(151deg, #3ecd8d, #16b294);
  .box {
    display: flex;
    justify-content: space-between;
    margin: 15px;
  }
}
</style>