<template>
  <div class="m-formular-login">
    <input type="email" name="email" id="email" />
    <input type="password" />

    <input type="checkbox" name="remember" id="remember" />
    <label for="remember">se souvenir de moi</label>

    <button type="submit">connexion</button>

    <div class="create-account">
      <router-link to="/login/new">Pas encore de compte, je m'inscris</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FormularLogin',
  components: {},
  props: [],
  data() {
    return {}
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
.m-formular-login {
  padding-top: 100px;
}
</style>