<template>
  <div class="m-formular-inscription">
    <label>Email</label>
    <input type="email" name="email" id="email" />

    <label>Pseudo</label>
    <input type="text" name="username" id="username" />

    <label>Mot de passe</label>
    <input type="password" />

    <label>Code Postal</label>
    <input type="number" name="postal" id="postal" />

    <button type="submit">enregistrer</button>
  </div>
</template>

<script>
export default {
  name: 'FormularInscription',
  components: {},
  props: [],
  data() {
    return {}
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
</style>