<template>
  <div class="m-formular-recipe">
    <!-- Recipe Picture -->
    <h1 class="title-lg">
      Nouvelle
      <br />recette.
    </h1>
    <div id="preview">
      <img v-if="url" :src="url" />
    </div>

    <input type="file" id="file" @change="onFileChange" />
    <label for="file" class="btn-square">Ajouter une image</label>

    <!-- Recipe Name -->
    <div class="box-time">
      <span class="subtitle-md">Nom de la recette</span>
      <input class="recipe-name input input-border" type="text" placeholder="Nom de la recette" />
    </div>
    <div class="box">
      <!-- Time -->
      <div class="box-time">
        <span class="subtitle-md">Temps Total</span>
        <div class="input-group">
          <input type="text" placeholder="0" class="time input input-border" />
          <span>min</span>
        </div>
      </div>
      <!-- Difficulty -->
      <div class="box-level">
        <span class="subtitle-md">Difficulté</span>
        <v-select :options="options" class="style-chooser style-chooser-white" value="facile"></v-select>
      </div>
    </div>

    <div class="box-person">
      <span class="subtitle-md">Nombre de personnes</span>
      <v-select
        :options="optionsPerson"
        class="style-chooser style-chooser-white"
        value="1 personne"
      ></v-select>
    </div>

    <div class="box-categories box-checkboxes">
      <span class="subtitle-md">Choisir 3 categories</span>
      <div class="all-categories">
        <div class="overlay-filters__category" v-for="category in categories" :key="category.title">
          <label>
            <input type="checkbox" :value="category.title" />
            <span>{{category.title}}</span>
          </label>
        </div>
      </div>
    </div>

    <!-- Ingredients -->
    <div class="box-ingredients">
      <h2 class="subtitle-lg">Ingrédients.</h2>
      <ul>
        <li v-for="(input, index) in inputsIngredients" :key="index">
          <input
            type="text"
            v-model="input.one"
            placeholder="Quantité"
            class="input input-border quantity"
          />
          <v-select :options="unity" value="c.s" class="style-chooser style-chooser-white unity"></v-select>
          <div class="input-group">
            <input
              type="text"
              v-model="input.three"
              placeholder="Nom Ingrédient"
              class="input input-border name"
            />
            <button @click="deleteRowIngredient(index)" class="btn-square">-</button>
          </div>
        </li>
      </ul>
      <button @click="addRowIngredient" class="btn-round">+</button>
    </div>
    <!-- Steps -->
    <div class="box-steps">
      <h2 class="subtitle-lg">Etapes.</h2>
      <ul>
        <li v-for="(input, index) in inputsSteps" :key="index">
          <input type="text" v-model="input.one" placeholder="Mélanger le tout" />
          {{ input.one }}
        </li>
      </ul>
      <button @click="addRow" class="btn-round">+</button>
    </div>
    <button type="submit" class="submit btn-square">Sauvgarder</button>
  </div>
</template>

<script>
export default {
  name: 'FormularAddRecipe',
  components: {},
  props: [],
  data() {
    return {
      url: null,
      inputsIngredients: [],
      inputsSteps: [],
      options: ['Facile', 'Moyen', 'Difficile'],
      optionsPerson: [
        '1 personne',
        '2 personnes',
        '3 personnes',
        '4 personnes'
      ],
      categories: [
        { title: 'Viande' },
        { title: 'Poulpe' },
        { title: 'Asperge' },
        { title: 'Vege' },
        { title: 'Lactose' },
        { title: 'gelée' }
      ],
      unity: ['cuillère à soupe']
    }
  },
  methods: {
    onFileChange(e) {
      const file = e.target.files[0]
      this.url = URL.createObjectURL(file)
    },

    addRowIngredient() {
      this.inputsIngredients.push({
        one: '',
        two: '',
        three: ''
      })
    },
    deleteRowIngredient(index) {
      this.inputsIngredients.splice(index, 1)
    },

    addRow() {
      this.inputsSteps.push({
        one: ''
      })
    },
    deleteRow(index) {
      this.inputsSteps.splice(index, 1)
    }
  }
}
</script>

<style lang="scss" scoped>
.m-formular-recipe {
  padding-top: 100px;
  background: linear-gradient(151deg, #fc734a, #fc5666);
  padding: 20% 20px;
  overflow-x: hidden;

  input,
  .v-select {
    margin-top: 10px;
  }

  .btn-round {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
  }

  .all-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .overlay-filters__category {
      width: 30%;
      text-align: center;
    }

    span {
      font-size: 0.8rem;
      margin: 0;
      width: 100%;
      margin-top: 20px;
    }
  }

  .submit {
    margin-top: 30px;
    width: 100%;
  }

  #preview {
    width: 100%;
    margin: 20px 0 0;
    img {
      width: 100%;
    }
  }

  .recipe-name {
    width: 100%;
  }

  .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 20px;

    &-level {
      min-width: 45%;
    }

    &-person,
    &-categories,
    &-ingredients,
    &-steps {
      margin-top: 20px;
    }

    &-ingredients,
    &-steps {
      border: 1px solid white;
      padding: 20px;
      border-radius: 8px;
    }

    &-ingredients {
      .btn-square {
        height: 40px;
        margin-top: 10px;
      }
      .input-group {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid white;
      }
      li {
        list-style: none;
      }
      .quantity {
        float: left;
        margin-right: 4%;
        margin-top: 0;
      }
      .quantity,
      .unity {
        width: 48%;
      }
      .name {
        width: 100%;
        margin-right: 10px;
      }
    }
  }

  //INPUT

  .time {
    width: 50%;
    margin-right: 10px;
  }

  li {
    list-style: decimal;
  }
}
</style>