<template>
  <div class="m-listing-recipes">
    <div class="content">
      <TitleSection titleSectionPart1="Toutes" titleSectionPart2="les Recettes."></TitleSection>
      <div class="box">
        <input type="search" class="input input-border" placeholder="Rechecher une recette" />
        <button type="submit" class="btn-search btn-square">
          <app-icon name="search" class="icon is-medium blue" />
        </button>
      </div>

      <FiltersCategories
        modalName="recipeModal"
        btnModal="Filtres"
        class="filters btn-square"
        :categories="categoriesRecipes"
        :categoriesSelected="categoriesSelected"
      ></FiltersCategories>
      <div v-for="recipe in recipes" v-bind:key="recipe.id">
        <CardRecipe v-bind:id="recipe.id" v-bind:title="recipe.title"></CardRecipe>
      </div>
    </div>
  </div>
</template>

<script>
import CardRecipe from '../components/cards/CardRecipe'
import TitleSection from '../components/TitleSection.vue'
import AppIcon from '../layouts/AppIcon'
import FiltersCategories from '../components/filters/FiltersCategories.vue'
import axios from 'axios'

export default {
  name: 'ListingRecipes',
  components: {
    CardRecipe,
    TitleSection,
    FiltersCategories,
    AppIcon
  },
  props: [],
  data() {
    return {
      recipes: [],
      categoriesSelected: [],
      categoriesRecipes: [
        {
          title: 'Poulpe',
          icon: 'mon icon'
        },
        {
          title: 'Végétarien',
          icon: 'mon icon',
          select: false
        },
        {
          title: 'Viande',
          icon: 'mon icon'
        }
      ]
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    fetchData() {
      axios
        .get('http://127.0.0.1:8000/recipes', {
          headers: {}
        })
        .then(response => {
          this.recipes = response.data
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.m-listing-recipes {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 25%;
  padding-bottom: 20%;
  background: linear-gradient(151deg, #fc734a, #fc5666);

  .content {
    margin: 0 20px;
  }

  .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn-search {
    padding: 5px;
  }

  .filters {
    margin-bottom: 20px;
  }

  input {
    width: 100%;
    margin: 20px 10px 20px 0;
  }
}
</style>