<template>
  <div class="m-listing-farmer">
    <div class="content">
      <input type="search" placeholder="code postal, nom" />
      <div v-for="card in cards" v-bind:key="card.id">
        <CardFarmer
          v-bind:alt="card.alt"
          v-bind:title="card.title"
          v-bind:image="card.image"
          :desc="card.desc"
          :postal="card.postal"
          :category="card.category"
          :time="card.time"
        ></CardFarmer>
      </div>
    </div>
  </div>
</template>

<script>
import CardFarmer from '../components/cards/CardFarmerSmall'
// import Title from '../components/Title.vue'

export default {
  name: 'ListingFarmers',
  components: {
    CardFarmer
    // Title
  },
  props: [],
  data() {
    return {
      cards: [
        {
          title: 'Ferme Arc-en-ciel',
          postal: '1326, Juriens',
          time: 'Lundi-Vendredi : 13h-14h',
          category: 'Agriculteur',
          desc:
            'Nulla sed lorem egestas, cursus odio non, Nulla sed lorem egestas, cursus odio non, ',
          alt: 'ferme arc-en-ciel',
          image:
            'https://img2.freepng.fr/20180328/odw/kisspng-carrot-juice-carrot-juice-baby-carrot-vegetable-sea-buckthorn-5abb708a844e69.1883488615222334825419.jpg'
        },
        {
          title: 'Ferme Arc-en-ciel',
          postal: '1326',
          time: 'Lundi-Vendredi : 13h-14h',
          category: 'Agriculteur',
          desc: 'Nulla sed lorem egestas, cursus odio non, efficitur lorem.',
          alt: 'ferme arc-en-ciel',
          image:
            'https://img2.freepng.fr/20180328/odw/kisspng-carrot-juice-carrot-juice-baby-carrot-vegetable-sea-buckthorn-5abb708a844e69.1883488615222334825419.jpg'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.m-listing-farmers {
  width: 100%;
  height: 100%;
  position: relative;
}
</style>