<template>
  <div class="m-recipes" id="recipes">
    <div class="content-square">
      <div class="box">
        <TitleSection titleSectionPart1="Top" titleSectionPart2="Recettes."></TitleSection>
        <FiltersCategories
          modalName="recipeModal"
          btnModal="Filtres"
          class="filter-search"
          :categories="categoriesRecipes"
          :categoriesSelected="categoriesSelected"
        ></FiltersCategories>
      </div>
      <SliderCardsRecipes></SliderCardsRecipes>
      <router-link to="/recipes" class="link-bottom-left">all Recipes</router-link>
      <!-- <a href="/recipes">toutes les recettes</a> -->
    </div>
  </div>
</template>

<script>
import SliderCardsRecipes from '../components/sliders/SliderCardsRecipes'
import FiltersCategories from '../components/filters/FiltersCategories'
import TitleSection from '../components/TitleSection.vue'

export default {
  name: 'BestRecipes',
  components: {
    SliderCardsRecipes,
    FiltersCategories,
    TitleSection
  },
  props: [],
  data() {
    return {
      categoriesSelected: [],
      categoriesRecipes: [
        {
          title: 'Poulpe',
          icon: 'mon icon'
        },
        {
          title: 'Végétarien',
          icon: 'mon icon',
          select: false
        },
        {
          title: 'Viande',
          icon: 'mon icon'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.m-recipes {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 25%;
  background: linear-gradient(151deg, #fc734a, #fc5666);

  .box {
    display: flex;
    justify-content: space-between;
    margin: 15px;
  }

  .filter-search {
    background: white;
    padding: 5px 10px;
    height: 45px;
    text-align: center;
    vertical-align: middle;
  }

  .slick-track {
    display: flex;
  }

  .slick-slide {
    margin: 0 3rem;
    padding: 0 40px;
  }

  a {
    position: absolute;
    z-index: 3333333333;
    &:nth-child(2) {
      top: 100px;
    }
  }
}
</style>