<template>
  <div class="c-input-search">
    <label>
      <div class="input-search_box">
        <input id="input-search_input" type="text" :placeholder="placeholderSearch" />
        <button type="submit">search</button>
      </div>
    </label>
  </div>
</template>

<script>
export default {
  name: 'InputSearch',
  components: {},
  props: ['placeholderSearch'],
  data() {
    return {
      isActive: false
    }
  },
  methods: {}
}
</script>
<style lang="scss" scoped>
.c-input-search {
  // MOBILE
  position: relative;
  width: 100%;
  top: 10vh;
  left: 0;
  @media screen and (min-width: 768px) {
    position: relative;
    top: 0;
    width: fit-content;
  }

  label {
    transition: all 0.5s linear;
  }
  .input-search_box {
    border-bottom: 1px solid orange;
    transition: all 0.5s linear;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    @media screen and (min-width: 768px) {
      width: 300px;
    }
  }

  input {
    background: none;
    border: none;
    width: 300px;
    transition: all 0.5s linear;
    font-weight: 800;
    font-size: 1rem;
    color: white;
  }

  .icon-search {
    width: 100%;
    text-align: center;
    transition: all 0.5s linear;
  }

  .active {
    .input-search_box {
      width: 300px;
      padding-left: 25px;
    }

    .icon-search {
      width: 50px;
      text-align: center;
    }

    input {
      width: 100%;
    }
  }

  svg {
    font-size: 1rem;
    color: blue;
    margin: 0;
  }
}
</style>

