<template>
  <div class="c-map-farmer">
    <!-- <button @click="setPlaceText('Tokyo')">Set to Tokyo</button>
    <br />
    <button @click="setPlaceText('Shanghai')">Set to Shanghai</button>
    <br />
    <button @click="setPlaceText('Seoul')">Set to Seoul</button>
    <br />
    <gmap-place-input :default-place="place" @place_changed="setPlace"></gmap-place-input>
    <br />
    {{latLng.lat}},
    {{latLng.lng}}-->
    <div class="container-map" style="overflow:hidden">
      <GmapMap
        :center="{lat:currentLocation.lat, lng:currentLocation.lng}"
        :zoom="17"
        :options="{disableDefaultUI:true}"
        map-type-id="terrain"
        class="map-farmer"
        style="width: 89vw; height: 82vh;"
      >
        <GmapCluster>
          <GmapMarker
            :key="i"
            v-for="(m,i) in markers"
            :position="m.position"
            :clickable="true"
            @click="toggleInfoWindow(m,i)"
          />
          <GmapInfoWindow
            :options="infoOptions"
            :position="infoWindowPos"
            :opened="infoWinOpen"
            @closeclick="infoWinOpen=false"
          ></GmapInfoWindow>
        </GmapCluster>
      </GmapMap>

      <!-- Listing
      <div :key="i" v-for="(m,i) in markers">
        <button @click="center=m.position">{{m.infoText}}</button>
      </div>-->
    </div>
  </div>
</template>
<script>
export default {
  name: 'Farmer',

  data() {
    return {
      place: 'Singapore',
      latLng: {},
      currentLocation: { lat: 0, lng: 0 },
      searchAddressInput: '',

      center: {
        lat: 10.0,
        lng: 10.0
      },
      infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,
      infoOptions: {
        content: '',
        pixelOffset: {
          width: 0,
          height: -35
        }
      },
      markers: [
        {
          position: {
            lat: 10.0,
            lng: 10.0
          },
          infoText: 'Marker 1'
        },
        {
          position: {
            lat: 11.0,
            lng: 11.0
          },
          infoText: '<strong>Marker 2</strong>'
        }
      ]
    }
  },
  mounted: function() {
    this.geolocation()
  },

  methods: {
    geolocation: function() {
      navigator.geolocation.getCurrentPosition(position => {
        this.currentLocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        }
      })
    },

    toggleInfoWindow: function(marker, idx) {
      this.infoWindowPos = marker.position
      this.infoOptions.content = marker.infoText

      if (this.currentMidx === idx) {
        this.infoWinOpen = !this.infoWinOpen
      } else {
        this.infoWinOpen = true
        this.currentMidx = idx
      }
    },
    setPlaceText(place) {
      this.place = place
    },
    setPlace(place) {
      this.latLng = {
        lat: place.geometry.location.lat(),
        lng: place.geometry.location.lng()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.c-map-farmer {
  .container-map {
    width: 100%;
    height: 100%;
    margin: 0 20px;
    overflow: hidden;
  }

  .map-farmer {
    width: 100%;
    height: 100%;
  }
}
</style>