<template>
  <button class="button btn-icon-square">
    <span v-if="label !== '' ">{{label}}</span>
    <!-- <font-awesome-icon :icon="icon" /> -->
  </button>
</template>

<script>
export default {
  name: 'ButtonIconSquare',
  components: {},
  props: {
    label: String,
    icon: String
  }
}
</script>

<style lang="scss" scoped>
.btn-icon-square {
  background-color: white;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  height: 40px;

  span {
    color: blue;
    font-weight: 800;
    font-size: 0.8rem;
    margin-right: 15px;
  }

  svg {
    font-size: 1rem;
    color: blue;
  }
}
</style>