<template>
  <button
    class="button btn-icon-round"
    @click="isActive = !isActive"
    :class="{ 'activeBtn': isActive}"
  >
    <!-- <font-awesome-icon :icon="icon" class="btn-icon-round_icon" /> -->
  </button>
</template>

<script>
export default {
  name: 'ButtonIconRound',
  components: {},
  props: {
    icon: String,
    iconSelect: String
  },
  data() {
    return {
      isActive: false
    }
  }
}
</script>
<style lang="scss" scoped>
.btn-icon-round {
  background-color: $white-color;
  border-radius: 100%;
  padding: 15px;
  position: absolute;
  top: 0;
  left: 10px;
  transform: translateY(-50%);

  svg {
    font-size: 1rem;
    color: $blue-color;
  }

  &.activeBtn {
    background-color: $blue-color;

    svg {
      color: $white-color;
    }
  }
}
</style>

