
<template>
  <div class="wrapper">
    <slick ref="slick" :options="slickOptions">
      <div v-for="card in cards" v-bind:key="card.id">
        <CardCalendar v-bind:alt="card.alt" v-bind:title="card.title" v-bind:image="card.image"></CardCalendar>
      </div>
    </slick>
  </div>
</template>

<script>
import Slick from 'vue-slick'
import CardCalendar from '../cards/CardCalendar'

export default {
  name: 'SliderCardsCalendar',

  components: {
    Slick,
    CardCalendar
  },

  data() {
    return {
      cards: [
        {
          title: 'Carotte',
          alt: 'carotte',
          image:
            'https://img2.freepng.fr/20180328/odw/kisspng-carrot-juice-carrot-juice-baby-carrot-vegetable-sea-buckthorn-5abb708a844e69.1883488615222334825419.jpg'
        },
        {
          title: 'Patate',
          alt: 'Patate',
          image:
            'https://img2.freepng.fr/20180328/odw/kisspng-carrot-juice-carrot-juice-baby-carrot-vegetable-sea-buckthorn-5abb708a844e69.1883488615222334825419.jpg'
        },
        {
          title: 'Chou',
          alt: 'Chou',
          image:
            'https://img2.freepng.fr/20180328/odw/kisspng-carrot-juice-carrot-juice-baby-carrot-vegetable-sea-buckthorn-5abb708a844e69.1883488615222334825419.jpg'
        }
      ],
      slickOptions: {
        dots: true,
        infinite: false,
        speed: 300,
        slidesToShow: 1,
        rows: 1,
        centerMode: true,
        variableWidth: true,
        prevArrow:
          '<button class="slide-arrow prev-arrow chevron-left"></button>',
        nextArrow:
          '<button class="slide-arrow next-arrow chevron-left"></button>'
      }
    }
  },

  // All slick methods can be used too, example here
  methods: {
    next() {
      this.$refs.slick.next()
    },

    prev() {
      this.$refs.slick.prev()
    },

    reInit() {
      // Helpful if you have to deal with v-for to update dynamic lists
      this.$nextTick(() => {
        this.$refs.slick.reSlick()
      })
    }
  }
}
</script>

<style lang="scss">
.slick-track {
  transform: translate3d(0, 0px, 0px);
  display: flex;
}
</style>
