<template>
  <div class="c-slider-recipes">
    <div class="wrapper">
      <slick ref="slick" :options="slickOptions">
        <div v-for="card in cards" v-bind:key="card.id">
          <CardRecipe v-bind:id="card.id" v-bind:title="card.title"></CardRecipe>
        </div>
      </slick>
    </div>
  </div>
</template>

<script>
import Slick from 'vue-slick'
import CardRecipe from '../cards/CardRecipe'

export default {
  name: 'SliderCardsRecipes',

  components: {
    Slick,
    CardRecipe
  },

  data() {
    return {
      cards: [
        { id: 1, title: 'Mon initiation avec Vue' },
        { id: 2, title: 'Blogger avec Vue' },
        { id: 3, title: 'Pourquoi Vue est tellement cool' },
        { id: 4, title: 'Test 4' },
        { id: 5, title: 'tellement cool' },
        { id: 6, title: 'Pourquoi Vue est tellement cool' }
      ],
      slickOptions: {
        dots: true,
        infinite: false,
        speed: 300,
        slidesToShow: 1,
        rows: 2,
        centerMode: true,
        variableWidth: true,
        prevArrow:
          '<button class="slide-arrow prev-arrow chevron-left "></button>',
        nextArrow:
          '<button class="slide-arrow next-arrow chevron-left "></button>'
      }
    }
  },

  // All slick methods can be used too, example here
  methods: {
    next() {
      this.$refs.slick.next()
    },

    prev() {
      this.$refs.slick.prev()
    },

    reInit() {
      // Helpful if you have to deal with v-for to update dynamic lists
      this.$nextTick(() => {
        this.$refs.slick.reSlick()
      })
    }
  }
}
</script>

<style lang="scss">
</style>
