
<template>
  <div class="wrapper">
    <slick ref="slick" :options="slickOptions">
      <div v-for="card in cards" v-bind:key="card.id">
        <CardFarmer
          v-bind:alt="card.alt"
          v-bind:title="card.title"
          v-bind:image="card.image"
          :desc="card.desc"
          :postal="card.postal"
          :category="card.category"
          :time="card.time"
        ></CardFarmer>
      </div>
    </slick>
  </div>
</template>

<script>
import Slick from 'vue-slick'
import CardFarmer from '../cards/CardFarmer'

export default {
  name: 'SliderCardsFarmer',

  components: {
    Slick,
    CardFarmer
  },

  data() {
    return {
      cards: [
        {
          title: 'Ferme Arc-en-ciel',
          postal: '1326, Juriens',
          time: 'Lundi-Vendredi : 13h-14h',
          category: 'Agriculteur',
          desc:
            'Nulla sed lorem egestas, cursus odio non, Nulla sed lorem egestas, cursus odio non, ',
          alt: 'ferme arc-en-ciel',
          image:
            'https://img2.freepng.fr/20180328/odw/kisspng-carrot-juice-carrot-juice-baby-carrot-vegetable-sea-buckthorn-5abb708a844e69.1883488615222334825419.jpg'
        },
        {
          title: 'Ferme Arc-en-ciel',
          postal: '1326',
          time: 'Lundi-Vendredi : 13h-14h',
          category: 'Agriculteur',
          desc: 'Nulla sed lorem egestas, cursus odio non, efficitur lorem.',
          alt: 'ferme arc-en-ciel',
          image:
            'https://img2.freepng.fr/20180328/odw/kisspng-carrot-juice-carrot-juice-baby-carrot-vegetable-sea-buckthorn-5abb708a844e69.1883488615222334825419.jpg'
        }
      ],
      slickOptions: {
        dots: true,
        infinite: false,
        speed: 300,
        slidesToShow: 1,
        rows: 1,
        centerMode: true,
        variableWidth: true,
        prevArrow:
          '<button class="slide-arrow prev-arrow chevron-left"></button>',
        nextArrow:
          '<button class="slide-arrow next-arrow chevron-left"></button>'
      }
    }
  },

  // All slick methods can be used too, example here
  methods: {
    next() {
      this.$refs.slick.next()
    },

    prev() {
      this.$refs.slick.prev()
    },

    reInit() {
      // Helpful if you have to deal with v-for to update dynamic lists
      this.$nextTick(() => {
        this.$refs.slick.reSlick()
      })
    }
  }
}
</script>

<style lang="scss">
.slick-track {
  transform: translate3d(0, 0px, 0px);
  display: flex;
}
</style>
