<template>
  <div class="cp-card-calendar">
    <!-- <ButtonIconRound icon="heart"></ButtonIconRound> -->
    <div class="cp-card-calendar_image">
      <img v-bind:src="image" v-bind:alt="alt" />
    </div>
    <p class="cp-card-calendar_title">{{title}}</p>
  </div>
</template>

<script>
export default {
  name: 'CardCalendar',
  components: {},
  props: ['title', 'image', 'alt']
}
</script>

<style lang="scss" scoped>
.cp-card-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;

  &_image {
    width: 60%;
    img {
      width: 100%;
    }
  }
}
</style>



