<template>
  <div class="cp-card-farmer-small">
    <!-- <ButtonIconRound icon="heart"></ButtonIconRound> -->
    <div class="cp-card-farmer-small_image">
      <img v-bind:src="image" v-bind:alt="alt" />
    </div>
    <div class="cp-card-farmer-small_infos">
      <div class="cp-card-farmer-small_category">{{category}}</div>
      <p class="cp-card-farmer-small_title">{{title}}</p>
      <p class="cp-card-farmer-small_postal">{{postal}}</p>
      <p class="cp-card-farmer-small_time">{{time}}</p>
      <a v-bind:href="href">voir details</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CardFarmerSmall',
  components: {},
  props: ['title', 'image', 'alt', 'postal', 'time', 'category', 'href']
}
</script>

<style lang="scss" scoped>
.cp-card-farmer-small {
  &_image {
    img {
      width: 100%;
    }
  }
}
</style>

