<template>
  <router-link :to="{ name: 'PageDetailsRecipe', params: { id: id }}">
    <div class="cp-card-recipe">
      <!-- <ButtonIconRound icon="heart"></ButtonIconRound> -->
      <div class="cp-card-recipe_image">
        <img src="http://placehold.it/2000x1000" alt="eey" />
      </div>
      <div class="cp-card-recipe_infos">
        <div class="cp-card-recipe_infos-recipe">
          <h2 class="cp-card-recipe_title">{{id}}{{title}}</h2>
          <div class="cp-card-recipe_icons">
            <div class="cp-card-recipe_icon"></div>
          </div>
        </div>
        <div class="cp-card-recipe_infos-user">
          <div class="cp-card-recipe_like">
            <!-- <font-awesome-icon icon="heart" /> -->
            <span>645</span>
          </div>
          <div class="cp-card-recipe_comments">
            <!-- <font-awesome-icon icon="comment" /> -->
            <span>4</span>
          </div>
          <div class="cp-card-recipe_user">Patate63_cuistot</div>
        </div>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  name: 'CardRecipe',
  components: {},
  props: ['title', 'id']
}
</script>

<style lang="scss" scoped>
.cp-card-recipe {
  color: white;
  border: 1px solid white;
  width: 100%;
  height: 20vh;
  margin-bottom: 3vw;
  position: relative;
  display: flex;
  @media screen and (min-width: 768px) {
    width: 40vw;
    height: 11.5vw;
  }

  &_image {
    width: 40%;
    height: 11.4vw;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .icon {
    margin-right: 10px;
  }

  &_infos {
    &-recipe {
      padding: 18px 0 18px 18px;
      width: 92%;
      border-bottom: 1px solid;
    }

    &-user {
      padding: 18px 0 18px 18px;
      width: 92%;
      display: flex;
      justify-content: space-between;
    }
  }

  span {
    margin-left: 5px;
  }
}
</style>



