<template>
  <div class="cp-card-farmer">
    <!-- <ButtonIconRound icon="heart"></ButtonIconRound> -->
    <div class="cp-card-farmer_image">
      <img v-bind:src="image" v-bind:alt="alt" />
    </div>
    <div class="cp-card-farmer_infos">
      <div class="cp-card-farmer_category">{{category}}</div>
      <p class="cp-card-farmer_title">{{title}}</p>
      <p class="cp-card-farmer_postal">{{postal}}</p>
      <p class="cp-card-farmer_desc">{{desc}}</p>
      <p class="cp-card-farmer_time">{{time}}</p>
      <div class="box">
        <a v-bind:href="href" class="btn-square btn-square_icon">
          <app-icon name="marker" class="icon is-medium blue" />Voir la carte
        </a>
        <a v-bind:href="href" class="btn-square btn-square_icon">
          <app-icon name="profile" class="icon is-medium blue" />profile
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import AppIcon from '../../layouts/AppIcon'

export default {
  name: 'CardFarmer',
  components: { AppIcon },
  props: ['title', 'image', 'alt', 'postal', 'desc', 'time', 'category', 'href']
}
</script>

<style lang="scss" scoped>
.cp-card-farmer {
  &_image {
    img {
      width: 100%;
    }
  }

  .box {
    display: flex;
    justify-content: space-between;

    a:first-child {
      margin-right: 10px;
    }
    a:nth-child(2) {
      margin-left: 10px;
    }
  }
}
</style>



