<template>
  <div>
    <full-page ref="fullpage" :options="options" id="fullpage">
      <div class="section">
        <Recipes></Recipes>
      </div>
      <div class="section">
        <Calendar></Calendar>
      </div>
      <div class="section">
        <Farmer></Farmer>
      </div>
    </full-page>
  </div>
</template>

<script>
import Recipes from '../modules/Recipes'
import Farmer from '../modules/Farmer'
import Calendar from '../modules/Calendar'

export default {
  name: 'Home',
  components: {
    Recipes,
    Farmer,
    Calendar
  },
  data() {
    return {
      locale: {
        title: this.$store.state.i18n.content
      },
      options: {
        licenseKey: 'YOUR_KEY_HEERE',
        menu: '#menu',
        anchors: ['page1', 'page2', 'page3']
      }
    }
  },

  metaInfo() {
    return {
      title: this.locale.title,
      titleTemplate: '%s | Client'
    }
  }
}
</script>

<style lang="scss" scoped>
.search-container {
  top: 0;
  height: 80px;
  background: white;
  z-index: 10;
}

.filter-container {
  top: 80px;
  background: white;
  z-index: 10;
}
.room-map-container {
  margin-top: 140px;
}
.map-before {
  position: absolute;
  left: -1000%;
}
.map-after {
  position: relative;
}
</style>
