<template>
  <div class="p-details-recipe">
    <!-- <img :src="image" :alt="title" /> -->
    <!-- 
    <div class="content">
      <div class="box box-action">
        <button class="btn-round">
          <app-icon name="heartlight" class="icon is-medium orange" />
        </button>
        <button class="btn-round">
          <app-icon name="starlight" class="icon is-medium orange" />
        </button>
        
    button visible uniquement si le user est le meme-->
    <!-- <button class="btn-round">
          <app-icon name="edit" class="icon is-medium orange" />
        </button>
    </div>-->

    <h1 class="title-lg">{{recipe.title}}</h1>
    <!-- <p class="user-recipe">{{date}} {{user}}</p> -->

    <!-- <div class="box">
        <div class="box-categories">
          <span v-for="category in categories" :key="category.title">{{category.title}}</span>
        </div>
        <div class="box-infos">
          <div class="box-infos_cook">
            <p class="info">
              <app-icon name="clock" class="icon is-medium white" />
              <span>{{totalTime}}</span>
            </p>
            <p class="info">
              <app-icon name="heart" class="icon is-medium white" />
              <span>{{numberLikes}}</span>
            </p>
            <p class="info">
              <app-icon name="cook" class="icon is-medium white" />
              <span>{{level}}</span>
            </p>
          </div>
          <div class="box-infos_person">
            <button id="minus" v-on:click="decrement()">-</button>
            <span v-if=" counterPerson > 0 ">{{counterPerson}} pers.</span>
            <span v-if=" counterPerson == 0 || counterPerson < 0 ">0 pers.</span>
            <button id="plus" v-on:click="increment()">+</button>
          </div>
        </div>
      </div>

      <div class="box-ingredients">
        <h2 class="subtitle-lg">Ingrédients</h2>
        <ul>
          <li v-for="ingredient in ingredients" :key="ingredient.id">
            <span v-if=" counterPerson > 0 ">{{counterPerson * ingredient.quantity}}</span>
            <span v-if=" counterPerson == 0 || counterPerson < 0 ">{{ingredient.quantity = 0}}</span>
            {{ingredient.unity}}
            {{ingredient.text}}
          </li>
        </ul>
        <button class="btn-square btn-square_icon">
          <app-icon name="list" class="icon is-medium blue" />
          <span>ajouter à la liste de courses</span>
        </button>
      </div>

      <div class="box-steps">
        <h2 class="subtitle-lg">Etapes</h2>
        <ul>
          <li v-for="step in steps" :key="step.id">{{step.text}}</li>
        </ul>
      </div>

      <div class="box-farmer">
        <h2 class="title">
          PRODUITS
          <br />FRAIS.
        </h2>
        <p>où trouver vos ingrédients</p>
        <div class="box-farmer_slide">
          <SliderCardsFarmer></SliderCardsFarmer>
        </div>
      </div>

      <ul>
        <li v-for="comment in comments" :key="comment.id">
          {{comment.username}}
          {{comment.text}}
          {{comment.commentsLike}}
          <ul>
            <li v-for="response in comment.commentResponse" :key="response.id">
              {{response.username}}
              {{response.date}}
              {{response.text}}
            </li>
          </ul>
        </li>
      </ul>
    </div>-->
  </div>
</template>

<script>
// import AppIcon from '../layouts/AppIcon'
// import SliderCardsFarmer from '../components/sliders/SliderCardsFarmer'
import axios from 'axios'

export default {
  name: 'PageDetailsRecipe',
  components: {
    // AppIcon,
    // SliderCardsFarmer
  },

  data() {
    return {
      recipe: []
    }
  },
  // created() {
  //   this.fetchData()
  // },
  created() {
    this.fetchData()
  },
  methods: {
    increment() {
      this.counterPerson++
    },
    decrement() {
      this.counterPerson--
    },
    fetchData(id) {
      axios
        .get('http://127.0.0.1:8001/recipe/27', {})
        .then(response => {
          this.recipe = response.data
        })
        .catch(function(error) {
          console.log(error)
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.p-details-recipe {
  background: linear-gradient(151deg, #fc734a, #fc5666);
  padding-top: 20%;
  overflow-x: hidden;

  img {
    position: relative;
    width: 100%;
  }

  ul {
    padding: 0 0 0 20px;
  }

  li {
    list-style: disc;
    font-size: 1.125rem;
    line-height: 1.7rem;
    margin-bottom: 10px;
  }

  .content {
    position: relative;
    top: -10px;
    box-sizing: border-box;
    padding: 30px 20px;
    color: white;
  }

  .box {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &-action {
      justify-content: flex-end;
      position: absolute;
      top: 0;
      right: 10px;
      transform: translateY(-60%);
    }

    &-categories {
      width: 40%;
      display: flex;
      flex-flow: column;
      padding-right: 15px;

      span {
        display: inline-block;
        width: 100%;
        background: white;
        padding: 8px 10px;
        margin: 5px 0;
        font-size: 12px;
        color: #00304d;
      }
    }

    &-infos {
      width: 60%;
      padding-left: 15px;

      .icon {
        position: relative;
        margin-bottom: 5px;
      }

      .info {
        position: relative;
        display: flex;
        flex-flow: column;
        align-items: center;
      }

      &_cook {
        display: flex;
        justify-content: space-between;
        border: 1px solid white;
        padding: 10px 20px;
      }

      &_person {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        #plus,
        #minus {
          background: white;
          border: none;
          width: 50px;
          height: 30px;
          margin: 0;
        }
      }
    }

    &-ingredients {
      margin-top: 25px;
      border: 1px solid white;
      padding: 20px;

      button {
        position: relative;
        display: flex;
        .icon {
          position: relative;
          left: auto;
          top: 50%;
          transform: translate3d(0, 0, 0);
        }
      }
    }

    &-steps {
      margin-top: 25px;
      border: 1px solid white;
      padding: 20px;
      li {
        list-style: decimal;
      }
    }

    &-farmer {
      position: relative;
      margin: 40px 0;

      &_slide {
        border: 1px solid white;
        overflow-x: hidden;
        margin: 20px 0 0 0;
        padding-bottom: 50px;
        padding-top: 20px;
      }
    }
  }

  .box-action {
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 10px;
    transform: translateY(-60%);
  }

  button {
    margin: 0 5px;
    .icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  .title-lg {
    margin-bottom: 5px;
  }

  .user-recipe {
    margin-bottom: 25px;
  }
}
</style>
