<template>
  <div class="p-all-farmers">
    <ListingFarmers></ListingFarmers>
    <!-- <paginate
      :page-count="10"
      :container-class="pagination"
      :prev-text="prev"
      :next-text="next"
      :click-handler="clickCallback"
    >
      <span slot="prevContent">Changed previous button</span>
      <span slot="nextContent">Changed next button</span>
      <span slot="breakViewContent">
        <svg width="16" height="4" viewBox="0 0 16 4">
          <circle fill="#999999" cx="2" cy="2" r="2" />
          <circle fill="#999999" cx="8" cy="2" r="2" />
          <circle fill="#999999" cx="14" cy="2" r="2" />
        </svg>
      </span>
    </paginate>-->
  </div>
</template>

<script>
import ListingFarmers from '../modules/ListingFarmers'

export default {
  name: 'PageAllfarmers',
  components: {
    ListingFarmers
  },
  data() {
    return {
      locale: {
        title: this.$store.state.i18n.content
      }
    }
  },
  methods: {
    clickCallback(pageNum) {
      console.log(pageNum)
    }
  }
}
</script>

<style lang="scss" scoped>
.p-all-farmers {
  padding-top: 25%;
  background: linear-gradient(151deg, #3ecd8d, #16b294);
}
</style>
