<template>
  <div class="p-inscription">
    <FormularInscription></FormularInscription>
  </div>
</template>

<script>
import FormularInscription from '../modules/FormularInscription'

export default {
  name: 'PageInscription',
  components: { FormularInscription },
  data() {
    return {}
  }
}
</script>

<style lang="scss">
</style>
