<template>
  <div class="p-login">
    <FormularLogin></FormularLogin>
  </div>
</template>

<script>
import FormularLogin from '../modules/FormularLogin'

export default {
  name: 'PageLogin',
  components: { FormularLogin },
  data() {
    return {}
  }
}
</script>

<style lang="scss">
</style>
