<template>
  <div class="p-profile">
    <!--- if level = amateur afficher icon cuillere -->
    <div class="content">
      <div class="profile-user">
        <img :src="user.image" alt="post.alt" />
      </div>

      <div class="btn-round btn-round-small">
        <!-- <span>{{user.level}}</span> -->
        <app-icon name="settings" class="icon is-medium blue" />
      </div>

      <div class="btn-round btn-round-small">
        <router-link to="/settings">
          <app-icon name="settings" class="icon is-medium blue" />
        </router-link>
      </div>

      <div class="box">
        <h1 class="profile-username title-lg">{{user.name}}</h1>
      </div>
      <!-- info utilisateur -->
      <div class="info-user">
        <p>
          <app-icon name="cook" class="icon is-medium white" />
          <span>{{user.numberRecipes}} recettes</span>
        </p>
        <a href="#">
          <p>
            <app-icon name="star" class="icon is-medium white" />
            <span>{{user.numberFavoris}} favoris</span>
          </p>
        </a>
        <a href="#">
          <p>
            <app-icon name="heart" class="icon is-medium white" />
            <span>{{user.numberLikes}} likes</span>
          </p>
        </a>
      </div>

      <!-- tag le plus mentionné dans les recettes crées-->
      <div class="all-tags">
        <div class="tags" v-for="tag in tags" :key="tag.title">
          <span>{{tag.title}}</span>
        </div>
      </div>

      <!-- récupération des images des recettes crées-->
      <div class="gallery-recipes">
        <div class="post-recipe" v-for="post in posts" :key="post.image">
          <a href="#">
            <img :src="post.image" alt="post.alt" />
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AppIcon from '../layouts/AppIcon'

export default {
  name: 'PageProfile',
  components: {
    AppIcon
  },
  data() {
    return {
      user: {
        level: 'amateur',
        name: 'Lepetitcuistot',
        image:
          'https://cdn.pixabay.com/photo/2014/10/23/20/51/iphone-500291_960_720.jpg',
        numberRecipes: '5',
        numberFavoris: '10',
        numberLikes: '10'
      },
      tags: [
        { title: 'no lactose' },
        { title: 'no gluten' },
        { title: 'no vege' }
      ],
      posts: [
        {
          image:
            'https://cdn.pixabay.com/photo/2015/05/07/15/08/pastries-756601_960_720.jpg',
          alt:
            'https://cdn.pixabay.com/photo/2015/05/07/15/08/pastries-756601_960_720.jpg'
        },
        {
          image:
            'https://cdn.pixabay.com/photo/2015/05/07/15/08/pastries-756601_960_720.jpg'
        },
        {
          image:
            'https://cdn.pixabay.com/photo/2015/05/07/15/08/pastries-756601_960_720.jpg'
        },
        {
          image:
            'https://cdn.pixabay.com/photo/2015/05/07/15/08/pastries-756601_960_720.jpg'
        }
      ]
    }
  }
}
</script>

<style lang="scss">
.p-profile {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(151deg, #fc734a, #fc5666);
  .content {
    padding-top: 25%;
    margin: 0 20px;
  }
  .profile-username {
    margin: 20px 0;
  }
  .box {
    text-align: center;
  }

  .btn-round-small {
    position: absolute;

    &:nth-child(2) {
      top: 20%;
      left: 23%;
    }

    &:nth-child(3) {
      top: 20%;
      right: 23%;
    }

    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  .info-user {
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 4px;

    p {
      display: flex;
      flex-flow: column;
      align-items: center;
      color: white;
      span {
        margin-top: 10px;
      }
    }
  }

  .all-tags {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }

  .tags {
    background: white;
    width: 100px;
    text-align: center;
    padding: 10px 5px;
    border-radius: 4px;
    span {
      font-size: 0.9rem;
      font-weight: 500;
    }
  }

  .profile-user {
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    border-radius: 100%;
    img {
      height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }
  .gallery-recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid white;
    padding-top: 20px;
    background: white;
    border-radius: 8px;
    padding: 10px;
  }

  .post-recipe {
    min-width: 100px;
    max-width: 200px;
    height: 100px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    img {
      height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }
}
</style>
