<template>
  <div class="p-calendar">
    <div class="section">
      <Calendar></Calendar>
    </div>
  </div>
</template>

<script>
import Calendar from '../modules/Calendar'

export default {
  name: 'PageCalendar',
  components: {
    Calendar
  },
  data() {
    return {}
  },

  metaInfo() {}
}
</script>

<style lang="scss">
.search-container {
  top: 0;
  height: 80px;
  background: white;
  z-index: 10;
}
.filter-container {
  top: 80px;
  background: white;
  z-index: 10;
}
.room-map-container {
  margin-top: 140px;
}
.map-before {
  position: absolute;
  left: -1000%;
}
.map-after {
  position: relative;
}
</style>
