<template>
  <div class="p-profile-settings">
    <h1>{{user.name}}</h1>
    <span>{{user.email}}</span>
    <span>{{user.password}}</span>
    <span>{{user.postal}}</span>
    <img :src="user.image" alt="image profile" />
    <span>{{user.level}}</span>
    <button type="submit">Modifier les informations</button>
    <button id="show-modal" @click="$modal.show(modalName)">supprimer mon compte</button>
    <modal :name="modalName" class="overlay-filters">
      <p>Êtes-vous sûre de bouloir supprimer votre compte ?</p>
      <button @click="$modal.hide(modalName)">non</button>
      <button type="submit" @click="$modal.hide(modalName)">supprimer</button>
    </modal>
  </div>
</template>

<script>
export default {
  name: 'PageProfileSettings',
  components: {},
  data() {
    return {
      modalName: 'profileDelete',
      user: {
        level: 'amateur',
        name: 'Lepetitcuistot',
        image:
          'https://cdn.pixabay.com/photo/2014/10/23/20/51/iphone-500291_960_720.jpg',
        postal: '1326',
        email: 'test@test.com',
        password: 'monpassword'
      }
    }
  }
}
</script>

<style lang="scss">
</style>
