<template>
  <div class="p-add-recipe">
    <div class="section">
      <FormularAddRecipe></FormularAddRecipe>
    </div>
  </div>
</template>

<script>
import FormularAddRecipe from '../modules/FormularAddRecipe'

export default {
  name: 'PageAddRecipe',
  components: {
    FormularAddRecipe
  },
  data() {
    return {}
  },

  metaInfo() {}
}
</script>

<style lang="scss">
</style>
