<template>
  <nav class="c-nav">
    <button class="burger btn-square" :class="{ 'open': isActive}" @click="isActive = !isActive">
      <div></div>
      <div></div>
      <div></div>
    </button>
    <ul :class="{ 'open': isActive}">
      <div class="box">
        <v-select :options="['fr']" class="style-chooser" value="Fr"></v-select>

        <a href="/">
          <img class="logo-open" :src="require('../assets/images/logo-orange.svg')" />
        </a>
        <button class="close-menu" :class="{ 'open': isActive}" @click="isActive = null">
          <app-icon name="cross" class="is-large light-gray" />
        </button>
      </div>
      <li>
        <router-link to="/" @click.native="closeNav()">Accueil</router-link>
      </li>
      <li>
        <router-link
          to="/#calendar"
          @click.native="scrollFix('#calendar'); closeNav()"
        >Calendrier Home</router-link>
      </li>
      <li>
        <router-link to="/page-all-recipes" @click.native="closeNav()">Les recettes</router-link>
      </li>
      <li>
        <router-link to="/page-calendar" @click.native="closeNav()">Calendrier</router-link>
      </li>
      <li>
        <router-link to="/profile" @click.native="closeNav()">Profile</router-link>
      </li>
      <li>
        <router-link to="/recipe/detail" @click.native="closeNav()">Detail Recipe</router-link>
      </li>
      <li>
        <router-link to="/page-all-farmers" @click.native="closeNav()">Les producteurs</router-link>
      </li>
      <div class="box box-bottom">
        <button class="deco" :class="{ 'open': isActive}" @click="isActive = null">deconnexion</button>
      </div>
    </ul>
  </nav>
</template>
<script>
import JQuery from 'jquery'
import AppIcon from '../layouts/AppIcon'

let $ = JQuery
let TIMEOUT = 100

export default {
  name: 'Nav',
  components: {
    AppIcon
  },
  props: [],

  data() {
    return {
      selected: 'fr',
      isActive: false
    }
  },
  mounted() {
    // From testing, without a brief timeout, it won't work.
    if (this.$route.hash) {
      setTimeout(() => this.scrollTo(this.$route.hash), TIMEOUT)
    }
  },
  methods: {
    scrollFix: function(hashbang) {
      location.href = hashbang
    },
    closeNav() {
      if ($('ul').hasClass('open')) {
        $('ul').removeClass('open')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.c-nav {
  .btn-square {
    padding: 10px 15px;
  }

  .burger {
    div {
      width: 30px;
      height: 3px;
      background: #00304d;
      margin: 5px 0;
    }

    &.open {
      span {
        background: blue;
      }
    }
  }

  ul {
    position: absolute;
    top: -1000px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    color: blue;
    margin: 0;
    transition: 0.2s all linear;
    z-index: 100;

    &.open {
      position: absolute;
      top: 0;
      left: 0;
    }

    .logo-open {
      width: 50px;
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
    }

    li {
      width: 100%;
      text-align: center;
      line-height: 3rem;
      a {
        color: #363636;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
      }
    }

    .deco {
      color: #fc734a;
    }

    button,
    select {
      text-transform: uppercase;
      font-size: 1rem;
    }
  }

  .box {
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e2e2e2;
    text-align: center;
    margin-bottom: 5vh;

    &-bottom {
      position: absolute;
      width: 100%;
      bottom: 0;
      background: white;
      justify-content: center;
      margin-bottom: 0;
    }
  }
}
</style>
