<template>
  <div class="c-select">
    <select id="month">
      <option
        v-bind:value="option.title"
        v-for="option in options"
        :key="option.title"
      >{{option.title}}</option>
    </select>
  </div>
</template>

<script>
export default {
  name: 'Select',
  components: {},
  props: ['options'],
  data() {
    return {}
  },
  methods: {}
}
</script>
<style lang="scss" scoped>
.c-select {
  select {
    background: white;
    padding: 5px 10px;
    height: 45px;
    text-align: center;
    vertical-align: middle;
    border: none;
    border-radius: 0;
    text-align: center;
  }
}
</style>

