<template>
  <div class="c-title">
    <h2>
      <span>{{titleSectionPart1}}</span>
      <span>{{titleSectionPart2}}</span>
      <span>{{titleSectionPart3}}</span>
      <span>{{titleSectionPart4}}</span>
    </h2>
  </div>
</template>

<script>
export default {
  name: 'TitleSection',
  props: [
    'titleSectionPart1',
    'titleSectionPart2',
    'titleSectionPart3',
    'titleSectionPart4'
  ],
  data() {
    return {}
  }
}
</script>

<style lang="scss" scoped>
.c-title {
  font-weight: 900;
  color: white;

  span {
    position: relative;
    display: block;
    font-size: 1.75rem;
    line-height: 2.3rem;
    text-transform: uppercase;
  }
}
</style>
