<template>
  <div class="c-square"></div>
</template>

<script>
export default {
  name: 'Square',
  data() {
    return {}
  }
}
</script>

<style lang="scss" scoped>
.c-square {
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 8px;
  width: auto;
  height: 85%;
  position: relative;
  margin: 0 20px;
}
</style>
