<template>
  <div class="cp-filters-recipes">
    <button id="show-modal" @click="$modal.show(modalName)">{{btnModal}}</button>
    <modal
      :name="modalName"
      class="overlay-filters modal"
      :width="'100%'"
      height="100%"
      :top="0"
      :left="0"
    >
      <button id="hide-search" @click="$modal.hide(modalName)">close Modal</button>
      <div v-for="category in categories" :key="category.title">
        <div class="overlay-filters__category">
          <label>
            <span class="icon"></span>
            <span>{{category.title}}</span>
          </label>
          <input type="checkbox" :value="category.title" v-model="categoriesSelected" />
        </div>
      </div>
      <div class="selectedCategories">
        <ul>
          <li v-for="selectCategory in categoriesSelected" :key="selectCategory">{{selectCategory}}</li>
        </ul>
      </div>
    </modal>
  </div>
</template>

<script>
export default {
  name: 'FiltersCategories',
  components: {},
  props: ['categories', 'categoriesSelected', 'modalName', 'btnModal']
}
</script>

<style lang="scss">
.cp-filters-recipes {
  display: flex;
  justify-content: center;
  button {
    position: relative;
    z-index: 200;
  }
  .modal {
    width: 100%;
  }
}
.v--modal-overlay .v--modal-box {
  width: 100%;
  left: 0;
  height: 100vh;
  top: 0;
}
</style>



