<template>
  <div class="cp-filters-search">
    <button id="show-search" @click="$modal.show(modalName)" class="btn-square">
      <app-icon name="search" class="icon is-medium blue" />
    </button>
    <modal :name="modalName" class="modal" :width="'100%'" height="100%" :top="0" :left="0">
      <button id="hide-search" @click="$modal.hide(modalName)">close Modal</button>
      <InputSearch :placeholderSearch="'Gratin de pomme'"></InputSearch>
    </modal>
  </div>
</template>

<script>
import InputSearch from '../inputs/InputSearch'
import AppIcon from '../../layouts/AppIcon'

export default {
  name: 'FiltersSearch',
  components: {
    InputSearch,
    AppIcon
  },
  props: ['modalName']
}
</script>

<style lang="scss" scoped>
.cp-filters-search {
  color: blue;

  .modal {
    width: 100%;
  }
}

.btn-square {
  padding: 10px 15px;
}

.v--modal {
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
}
</style>



