<template>
  <div class="container">
    <header-part />

    <RouterView />

    <footer-part />
  </div>
</template>

<script>
import CONFIG from '../config/config.json'

import HeaderPart from 'layouts/HeaderPart'
import FooterPart from 'layouts/FooterPart'
import {
  mdiHeart,
  mdiClose,
  mdiMenuDown,
  mdiPencil,
  mdiHeartOutline,
  mdiStar,
  mdiStarOutline,
  mdiAlarm,
  mdiChefHat,
  mdiMapMarker,
  mdiAccount,
  mdiClipboardList,
  mdiMagnify,
  mdiTextBoxPlus,
  mdiCog
} from '@mdi/js'

export default {
  name: 'App',
  heart: mdiHeart,
  heartlight: mdiHeartOutline,
  cross: mdiClose,
  arrowdown: mdiMenuDown,
  edit: mdiPencil,
  star: mdiStar,
  starlight: mdiStarOutline,
  clock: mdiAlarm,
  cook: mdiChefHat,
  marker: mdiMapMarker,
  profile: mdiAccount,
  list: mdiClipboardList,
  search: mdiMagnify,
  recipeadd: mdiTextBoxPlus,
  settings: mdiCog,

  components: {
    HeaderPart,
    FooterPart
  },
  data() {
    return {
      currentLang: 'en',
      configFile: null
    }
  },
  beforeCreate() {
    // Get environment config
    let env = process.env.NODE_ENV

    // Load JS Object for config in datas
    this.configFile = CONFIG

    if (env === 'development') {
      this.$store.commit('storeConfig', this.configFile.URL.DEV)
    } else if (env === 'production') {
      this.$store.commit('storeConfig', this.configFile.URL.PROD)
    } else {
      this.$store.commit('storeConfig', this.configFile.URL.DEV)
    }

    // Get HTML Lang attribute
    const currentHTMLLang = document.documentElement.lang

    this.currentLang = currentHTMLLang.split('-')[0]

    this.$store.commit('storeLocale', this.currentLang)
    this.$store.commit(
      'storeI18n',
      require('./static/locale/' + this.$store.state.locale + '.json')
    )
  }
}
</script>

<style lang="scss">
@import 'assets/scss/_variables';
@import 'assets/scss/_master';
@import 'assets/scss/_slick';
@import 'assets/scss/_select';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');
</style>
