<template>
  <svg viewBox="0 0 24 24" class="icon" :class="styleClasses">
    <path :d="path" />
  </svg>
</template>

<script>
import icons from '../assets/icons.json'

export default {
  name: 'AppIcon',
  props: {
    name: String,
    size: String,
    color: String
  },
  computed: {
    path() {
      return icons[this.name]
    },
    styleClasses() {
      return [this.size, this.color].map(val => val && `is-${val}`)
    }
  }
}
</script>

<style>
/* default */
.icon {
  width: 1.2em;
  height: 1.2em;
  fill: currentColor;
}

/* sizes */
.icon.is-large {
  width: 2em;
  height: 2em;
}
.icon.is-medium {
  width: 1.6em;
  height: 1.6em;
}
.icon.is-normal {
  width: 1.2em;
  height: 1.2em;
}
.icon.is-small {
  width: 1em;
  height: 1em;
}
.icon.is-tiny {
  width: 0.8em;
  height: 0.8em;
}

/* colors */
.icon.light-gray {
  fill: #aeaeae;
}
.icon.orange {
  fill: #fc734a;
}
.icon.white {
  fill: white;
}
.icon.blue {
  fill: #00304d;
}
</style>