<template>
  <div class="c-header" id="c-header">
    <a href="/">
      <div class="logo">
        <img :src="require('../assets/images/logo.svg')" />
      </div>
    </a>
    <div>
      <router-link to="/recipes/new">
        <button class="btn-square">
          <app-icon name="recipeadd" class="icon is-medium blue" />
        </button>
      </router-link>
    </div>
    <div>
      <FiltersSearch modalName="searchModal"></FiltersSearch>
    </div>
    <div>
      <router-link to="/login">
        <button class="btn-square">
          <app-icon name="profile" class="icon is-medium blue" />
        </button>
      </router-link>
    </div>
    <div>
      <Nav></Nav>
    </div>
  </div>
</template>

<script>
import Nav from '../components/Nav.vue'
import FiltersSearch from '../components/filters/FiltersSearch'
import AppIcon from '../layouts/AppIcon'

export default {
  name: 'HeaderParts',
  components: {
    Nav,
    AppIcon,
    FiltersSearch
  },
  props: [],
  data() {
    return {
      logo: 'images/logo.svg',
      isActive: false,
      modalName: 'search-modal'
    }
  }
}
</script>
<style lang="scss" scoped>
.btn-square {
  padding: 10px 15px;
}
.c-header {
  position: fixed;
  padding: 20px;
  width: 100%;
  z-index: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    img {
      width: 3.6rem;
    }
  }

  &_part-2 {
    display: flex;

    div {
      margin: 0 5px;
      // width: fit-content;
    }
  }
}
</style>